<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="stylesheets/ngDateTimePicker.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.css">

</head>
<body ng-controller='myCtrl'>
	<!-- <div class='wrapper'>
		<div  uib-dropdown auto-close='outsideClick' is-open='false'>
			<input type="text" ng-model='datetime' uib-dropdown-toggle>
			<ul uib-dropdown-menu>
				<ng-date-time-picker ng-model='datetime'></ng-date-time-picker>
			</ul>
		</div>
	</div> -->
	<!-- ng-model : <input type="text" ng-model="datetime"> -->
	
	<input type="text" class='input' ng-model='datetime' ng-click='show($event)' style="position: absolute; left: 200px;top: 300px">
	<script src='javascripts/angular.min.js'></script>
	<script src='javascripts/angular-animate.js'></script>
	<!-- <script src='javascripts/ngDateTimePicker.js'></script> -->
	<script type="text/javascript" src='javascripts/ui-bootstrap-tpls-2.5.0.min.js'></script>

	<script src='javascripts/tpl-ngDateTimePicker.js'></script>
	<script>
		angular.module('myApp', ['ngDateTimePicker'])
			.controller('myCtrl', function($scope, ngDateTimePicker){
				$scope.show = function(ev){
					ngDateTimePicker.open({
						$scope : $scope,
						ngModel : 'datetime',
						position : ev.target
					})
				}
			})
	</script>
</body>
</html>